<h2>Create a new account.</h2>
<br />
<form method="POST" action="/captains/create_account">
    <label>Your name captain?</label><br />
    <input type="text" name="captain_name"><br />
    <br />
    <label>Your password captain?</label><br />
    <input type="text" name="password"><br />
    <br />
    <input type="submit" value="Submit">
</form>