<h1>Welcome Captain <%= current_captain.captain_name %></h1>
<br />
<h3>These are the ships you've registered.</h3>
<ul>
<% if current_captain.ships == [] %>
    <p>You don't have any ships presently registered.<p>
<% else %>
    <% ships = current_captain.ships%>
    <% ships.each do |ship| %>
        <li><a href='/ship/<%="#{ship.id}"%>'><%= ship.ship_name %></a></li>
    <% end %>
<% end %>
</ul>
<br />
<form method="GET" action="/ships/new">
    <input type="submit" value="Register a new ship">
</form>
<form method="POST" action="/sign_out">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign Out">
</form>