<h1>Welcome Captain <%= @captain.captain_name%></h1>
<br />
<h3>These are the ships you've registered.</h3>
<ul>
<% if @captain.ships == [] %>
    <p>You don't have any ships presently registered.<p>
<% else %>
    <% @captain.ships.each do |ship| %>
        <li><a href='ships/<%="#{ship.id}"%>'><%= ship.ship_name %></a></li>
    <% end %>
<% end %>
</ul>
<br />
<form method="GET" action="/ships/new">
    <input type="submit" value="Register a new ship">
</form>
<form method="GET" action="/sign_out">
    <input type="submit" value="Sign Out">
</form>