<h2>Sign in to your account.</h2>
<br />
<form method="POST" action="/sign_in">
    <label>Your name captain?</label><br />
    <input type="text" name="captain_name"><br />
    <br />
    <label>Your password captain?</label><br />
    <input type="text" name="password"><br />
    <br />
    <input type="submit" value="Submit">
</form>