<h1>Port Authentication</h1>
<h2>Please sign in to your account.</h2>
<form method='POST' action='/login'>
    <input type='text' name='usename' placeholder='Username:'>
    <input type='text' name='password' placeholder='Password:'>

    <input type='submit' value="Submit">
</form>