<!-- need to make a form for making new users -->

<h3>According to port authorities an account is needed to proceed.</h3>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>
