<h2>Add an item to the (ship name) cargo</h2>
<br />
<form method="POST" action="/ships/:id">
    <label>The name of your cargo, captain?</label><br />
    <input type="text" name="item_name"><br />
    <br />
    <label>In what quantity is it?</label><br />
    <input type="text" name="item_quantity"><br />
    <br />
    <input type="submit" value="Submit">
</form>