<h2>Register a new ship.</h2>
<br />
<form method="POST" action="/ships">
    <label>The name of your ship, captain?</label><br />
    <input type="text" name="ship_name"><br />
    <br />
    <label>How many cargo slots does it have?</label><br />
    <input type="text" name="cargo_slots"><br />
    <br />
    <input type="submit" value="Submit">
</form>