<h3><%= @ship.ship_name %></h3>
<p>Cargo slots: <%= @ship.cargo_slots %></p>
<br />
<% if @ship.manifests.empty? %>
    <p> It looks like you aren't hauling anything aboard this vessel.</p>
<% else %>
    <ol>
    <% @ship.manifests.each do |manifest| %>
       <li><%= manifest.item_name %>: <%= manifest.item_quantity %>
    <% end %>  
<% end %>
<br />
<% if @ship.manifests.count < @ship.cargo_slots.to_i%>
    <p><a href='/captains/:id/ships/:id/manifest/new'>Add </a> manifest</p>
<% else %>
    <p>Your ship is full of cargo.</p>
<% end %>
<a href="/captains/:id/ships/:id/edit">Edit this ship</a>
<br />
<br />
<a href="/captains/:id">Profile</a>
