<h1>Welcome traveler, to my humble port.</h1>
<br />
    <h3>Please sign in to view your account.<h3>
    <a href="/sign_in">Sign In</a>
    <br />
    <h3>Or create an account.</h3>
    <a href="/create_account">Create Account</a>